# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/codealike.xml
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__cglib_cglib_nodep_3_2_4.xml
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_3.xml
.idea/libraries/Maven__ch_qos_logback_logback_core_1_1_3.xml
.idea/libraries/Maven__com_codeborne_phantomjsdriver_1_4_0.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_1_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_6_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_6_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_6_3.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_3_1.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_0_18.xml
.idea/libraries/Maven__com_google_guava_guava_23_0.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_1.xml
.idea/libraries/Maven__com_jbetfairng_jbetfairng_1_0_0.xml
.idea/libraries/Maven__com_netflix_rxjava_rxjava_apache_http_0_20_7.xml
.idea/libraries/Maven__com_netflix_rxjava_rxjava_core_0_20_7.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_9.xml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__io_ddavison_conductor_3_0_1.xml
.idea/libraries/Maven__io_reactivex_rxjava_1_2_9.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_1_0.xml
.idea/libraries/Maven__javax_transaction_javax_transaction_api_1_2.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__joda_time_joda_time_2_8_2.xml
.idea/libraries/Maven__junit_junit_4_10.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_37.xml
.idea/libraries/Maven__net_java_dev_jna_jna_4_1_0.xml
.idea/libraries/Maven__net_java_dev_jna_jna_platform_4_1_0.xml
.idea/libraries/Maven__net_sourceforge_cssparser_cssparser_0_9_23.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_2_27.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_htmlunit_core_js_2_27.xml
.idea/libraries/Maven__net_sourceforge_htmlunit_neko_htmlunit_2_27.xml
.idea/libraries/Maven__org_apache_commons_commons_exec_1_3.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_1_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_4_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_1.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_core_8_0_28.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_el_8_0_28.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_logging_juli_8_0_28.xml
.idea/libraries/Maven__org_apache_tomcat_embed_tomcat_embed_websocket_8_0_28.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_jdbc_8_0_28.xml
.idea/libraries/Maven__org_apache_tomcat_tomcat_juli_8_0_28.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_7.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_14.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_client_9_4_5_v20170502.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_http_9_2_14_v20151106.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_io_9_2_14_v20151106.xml
.idea/libraries/Maven__org_eclipse_jetty_jetty_util_9_2_14_v20151106.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_api_9_4_5_v20170502.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_client_9_4_5_v20170502.xml
.idea/libraries/Maven__org_eclipse_jetty_websocket_websocket_common_9_4_5_v20170502.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_4_0_5_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_4_3_11_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_entitymanager_4_3_11_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_2_2_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_jboss_jandex_1_1_0_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_0_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_annotations_1_2_0_Beta1.xml
.idea/libraries/Maven__org_jline_jline_3_4_0.xml
.idea/libraries/Maven__org_jline_jline_terminal_3_4_0.xml
.idea/libraries/Maven__org_jline_jline_terminal_jna_3_4_0.xml
.idea/libraries/Maven__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
.idea/libraries/Maven__org_projectlombok_lombok_1_16_16.xml
.idea/libraries/Maven__org_seleniumhq_selenium_htmlunit_driver_2_27.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_java_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_3_5_3.xml
.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_3_5_3.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_13.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_13.xml
.idea/libraries/Maven__org_slf4j_log4j_over_slf4j_1_7_13.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_13.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_autoconfigure_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_aop_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_data_jpa_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_jdbc_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_logging_1_3_0_RELEASE.xml
Would remov
e .idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_tomcat_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_validation_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_web_1_3_0_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_commons_1_11_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_data_spring_data_jpa_1_9_1_RELEASE.xml
.idea/libraries/Maven__org_springframework_shell_spring_shell_core_2_0_0_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_shell_spring_shell_jcommander_adapter_2_0_0_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_shell_spring_shell_shell1_adapter_2_0_0_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_shell_spring_shell_standard_2_0_0_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_shell_spring_shell_standard_commands_2_0_0_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_shell_spring_shell_starter_2_0_0_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_shell_spring_shell_table_2_0_0_BUILD_SNAPSHOT.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_orm_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_2_3_RELEASE.xml
.idea/libraries/Maven__org_w3c_css_sac_1_3.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_16.xml
.idea/libraries/Maven__xalan_serializer_2_7_2.xml
.idea/libraries/Maven__xalan_xalan_2_7_2.xml
.idea/libraries/Maven__xerces_xercesImpl_2_11_0.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_4_01.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
src/main/resources/log4j2.xml
target/
/src/main/resources/application.properties
/spring-shell.log
.idea/libraries/Maven__org_springframework_boot_spring_boot_starter_test_1_3_0_RELEASE.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_firefox_driver_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_remote_driver_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_java_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_api_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_edge_driver_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_opera_driver_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_safari_driver_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_support_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_chrome_driver_3_6_0.xml
/.idea/libraries/Maven__org_seleniumhq_selenium_selenium_ie_driver_3_6_0.xml
export.json
local_history.patch
